node_modules/
imgproc/detection/img/dyrus_1080p/
production/

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
bin/
*.so
*.a

*.tar
production/streams/

imgproc/detection/test/scoreboards/
imgproc/detection/main/scoreboards/

imgproc/resources/tmp/

production/streams/reggi/scoreboards/

detect_sb
extract_data
test_cv
testcv
statgen
DisplayImage
alert

.nfs*
*.swp
*.flv
*.mpg
*.mp4
