server/node_modules/
imgproc/detection/img/dyrus_1080p/

imgproc/main/CMakeFiles/
imgproc/detection/main/CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

detect_sb
test_cv
testcv
statgen

stream_parser/lolkingparser/node_modules/
.nfs*
*.swp
*.flv
*.mpg
*.mp4
