!!!5
html
	body
		input(id="addStreamer_input", type="text", name="streamer")
		button(id="addStreamer_button") add streamer
		br
		input(id="removeStreamer_input", type="text", name="streamer")
		button(id="removeStreamer_button") remove streamer
	footer
		script(src="js/jquery-1.10.2.min.js")
		script(src="js/admin.js")
