<html>
	<head>
		<link rel="stylesheet" type"text/css" href="stylesheet.css"/>
	</head>
	<body>
		<div class="template">
			<img src="scoreboard_template.jpg" />
			<div class="player_strip">
				<img class="player_champ_icon" src="/home/reggi/Downloads/champions/Lux.png" />
				<div class="player_level">
					10	
				</div>	
				<div class="player_names">
					<p class="username">
						regonics
					</p>
					<p class="champion">
						Lux
					</p>
				</div>
				<img class="player_ss1" src="/home/reggi/Downloads/summoners/Ignite.png" />
				<img class="player_ss2" src="/home/reggi/Downloads/summoners/Flash.png" />
				<img class="player_item1" src="/home/reggi/Downloads/items/Rabadon's Deathcap.png" />
				<img class="player_item2" src="/home/reggi/Downloads/items/Sorcerer's Shoes.png" />
				<img class="player_item3" src="/home/reggi/Downloads/items/" />
				<img class="player_item4" src="/home/reggi/Downloads/items/Athene's Unholy Grail.png" />
				<img class="player_item5" src="/home/reggi/Downloads/items/Sight Ward.png" />
				<img class="player_item6" src="/home/reggi/Downloads/items/Zhonya's Hourglass.png" />
				<img class="player_item7" src="/home/reggi/Downloads/items/Greater Lens (Trinket).png" />
			</div>
		</div>
	</body>
</html>
