<html>
	<head>
		<link rel="stylesheet" type"text/css" href="stylesheet.css"/>
		<script src="jquery-1.10.2.min.js"></script>
	</head>
	<body>
		<button id="update_button">
		Update Score
		</button>
<!---
		<div class="template">
			<img src="scoreboard_template.jpg" />
			<div id="player1" class="player_strip">
				<img class="player_champ_icon" src="/home/reggi/Downloads/champions/Lux.png" />
				<div class="player_level">
					10	
				</div>	
				<div class="player_names">
					<p class="username">
						regonics
					</p>
					<p class="champion">
						Lux
					</p>
				</div>
				<div class="player_summoners">
					<img class="summoner1" src="/home/reggi/Downloads/summoners/Revive.png" />
					<img class="summoner2" src="/home/reggi/Downloads/summoners/Revive.png" />
				</div>
				<div class="player_items">
					<img class="item1" src="/home/reggi/Downloads/items/Rabadon's Deathcap.png" />
					<img class="item2" src="/home/reggi/Downloads/items/Sorcerer's Shoes.png" />
					<img class="item3" src="blank_item.png" />
					<img class="item4" src="/home/reggi/Downloads/items/Athene's Unholy Grail.png" />
					<img class="item5" src="/home/reggi/Downloads/items/Sightstone.png" />
					<img class="item6" src="/home/reggi/Downloads/items/Zhonya's Hourglass.png" />
					<img class="item7" src="/home/reggi/Downloads/items/Greater Lens (Trinket).png" />
				</div>
				<div class="player_kda">
					19/0/10	
				</div>
				<div class="player_cs">
					314
				</div>
			</div>

			<div id="player2" class="player_strip">
				<img class="player_champ_icon" src="/home/reggi/Downloads/champions/Lux.png" />
				<div class="player_level">
					10	
				</div>	
				<div class="player_names">
					<p class="username">
						regonics
					</p>
					<p class="champion">
						Lux
					</p>
				</div>
				<div class="player_summoners">
					<img class="summoner1" src="/home/reggi/Downloads/summoners/Revive.png" />
					<img class="summoner2" src="/home/reggi/Downloads/summoners/Revive.png" />
				</div>
				<div class="player_items">
					<img class="item1" src="/home/reggi/Downloads/items/Rabadon's Deathcap.png" />
					<img class="item2" src="/home/reggi/Downloads/items/Sorcerer's Shoes.png" />
					<img class="item3" src="blank_item.png" />
					<img class="item4" src="/home/reggi/Downloads/items/Athene's Unholy Grail.png" />
					<img class="item5" src="/home/reggi/Downloads/items/Sightstone.png" />
					<img class="item6" src="/home/reggi/Downloads/items/Zhonya's Hourglass.png" />
					<img class="item7" src="/home/reggi/Downloads/items/Greater Lens (Trinket).png" />
				</div>
				<div class="player_kda">
					19/0/10	
				</div>
				<div class="player_cs">
					314
				</div>
			</div>

			<div id="player3" class="player_strip">
				<img class="player_champ_icon" src="/home/reggi/Downloads/champions/Lux.png" />
				<div class="player_level">
					10	
				</div>	
				<div class="player_names">
					<p class="username">
						regonics
					</p>
					<p class="champion">
						Lux
					</p>
				</div>
				<div class="player_summoners">
					<img class="summoner1" src="/home/reggi/Downloads/summoners/Revive.png" />
					<img class="summoner2" src="/home/reggi/Downloads/summoners/Revive.png" />
				</div>
				<div class="player_items">
					<img class="item1" src="/home/reggi/Downloads/items/Rabadon's Deathcap.png" />
					<img class="item2" src="/home/reggi/Downloads/items/Sorcerer's Shoes.png" />
					<img class="item3" src="blank_item.png" />
					<img class="item4" src="/home/reggi/Downloads/items/Athene's Unholy Grail.png" />
					<img class="item5" src="/home/reggi/Downloads/items/Sightstone.png" />
					<img class="item6" src="/home/reggi/Downloads/items/Zhonya's Hourglass.png" />
					<img class="item7" src="/home/reggi/Downloads/items/Greater Lens (Trinket).png" />
				</div>
				<div class="player_kda">
					19/0/10	
				</div>
				<div class="player_cs">
					314
				</div>
			</div>


			<div id="player4" class="player_strip">
				<img class="player_champ_icon" src="/home/reggi/Downloads/champions/Lux.png" />
				<div class="player_level">
					10	
				</div>	
				<div class="player_names">
					<p class="username">
						regonics
					</p>
					<p class="champion">
						Lux
					</p>
				</div>
				<div class="player_summoners">
					<img class="summoner1" src="/home/reggi/Downloads/summoners/Revive.png" />
					<img class="summoner2" src="/home/reggi/Downloads/summoners/Revive.png" />
				</div>
				<div class="player_items">
					<img class="item1" src="/home/reggi/Downloads/items/Rabadon's Deathcap.png" />
					<img class="item2" src="/home/reggi/Downloads/items/Sorcerer's Shoes.png" />
					<img class="item3" src="blank_item.png" />
					<img class="item4" src="/home/reggi/Downloads/items/Athene's Unholy Grail.png" />
					<img class="item5" src="/home/reggi/Downloads/items/Sightstone.png" />
					<img class="item6" src="/home/reggi/Downloads/items/Zhonya's Hourglass.png" />
					<img class="item7" src="/home/reggi/Downloads/items/Greater Lens (Trinket).png" />
				</div>
				<div class="player_kda">
					19/0/10	
				</div>
				<div class="player_cs">
					314
				</div>
			</div>


			<div id="player5" class="player_strip">
				<img class="player_champ_icon" src="/home/reggi/Downloads/champions/Lux.png" />
				<div class="player_level">
					10	
				</div>	
				<div class="player_names">
					<p class="username">
						regonics
					</p>
					<p class="champion">
						Lux
					</p>
				</div>
				<div class="player_summoners">
					<img class="summoner1" src="/home/reggi/Downloads/summoners/Revive.png" />
					<img class="summoner2" src="/home/reggi/Downloads/summoners/Revive.png" />
				</div>
				<div class="player_items">
					<img class="item1" src="/home/reggi/Downloads/items/Rabadon's Deathcap.png" />
					<img class="item2" src="/home/reggi/Downloads/items/Sorcerer's Shoes.png" />
					<img class="item3" src="blank_item.png" />
					<img class="item4" src="/home/reggi/Downloads/items/Athene's Unholy Grail.png" />
					<img class="item5" src="/home/reggi/Downloads/items/Sightstone.png" />
					<img class="item6" src="/home/reggi/Downloads/items/Zhonya's Hourglass.png" />
					<img class="item7" src="/home/reggi/Downloads/items/Greater Lens (Trinket).png" />
				</div>
				<div class="player_kda">
					19/0/10	
				</div>
				<div class="player_cs">
					314
				</div>
			</div>


			<div id="player6" class="player_strip">
				<img class="player_champ_icon" src="/home/reggi/Downloads/champions/Lux.png" />
				<div class="player_level">
					10	
				</div>	
				<div class="player_names">
					<p class="username">
						regonics
					</p>
					<p class="champion">
						Lux
					</p>
				</div>
				<div class="player_summoners">
					<img class="summoner1" src="/home/reggi/Downloads/summoners/Revive.png" />
					<img class="summoner2" src="/home/reggi/Downloads/summoners/Revive.png" />
				</div>
				<div class="player_items">
					<img class="item1" src="/home/reggi/Downloads/items/Rabadon's Deathcap.png" />
					<img class="item2" src="/home/reggi/Downloads/items/Sorcerer's Shoes.png" />
					<img class="item3" src="blank_item.png" />
					<img class="item4" src="/home/reggi/Downloads/items/Athene's Unholy Grail.png" />
					<img class="item5" src="/home/reggi/Downloads/items/Sightstone.png" />
					<img class="item6" src="/home/reggi/Downloads/items/Zhonya's Hourglass.png" />
					<img class="item7" src="/home/reggi/Downloads/items/Greater Lens (Trinket).png" />
				</div>
				<div class="player_kda">
					19/0/10	
				</div>
				<div class="player_cs">
					314
				</div>
			</div>


			<div id="player7" class="player_strip">
				<img class="player_champ_icon" src="/home/reggi/Downloads/champions/Lux.png" />
				<div class="player_level">
					10	
				</div>	
				<div class="player_names">
					<p class="username">
						regonics
					</p>
					<p class="champion">
						Lux
					</p>
				</div>
				<div class="player_summoners">
					<img class="summoner1" src="/home/reggi/Downloads/summoners/Revive.png" />
					<img class="summoner2" src="/home/reggi/Downloads/summoners/Revive.png" />
				</div>
				<div class="player_items">
					<img class="item1" src="/home/reggi/Downloads/items/Rabadon's Deathcap.png" />
					<img class="item2" src="/home/reggi/Downloads/items/Sorcerer's Shoes.png" />
					<img class="item3" src="blank_item.png" />
					<img class="item4" src="/home/reggi/Downloads/items/Athene's Unholy Grail.png" />
					<img class="item5" src="/home/reggi/Downloads/items/Sightstone.png" />
					<img class="item6" src="/home/reggi/Downloads/items/Zhonya's Hourglass.png" />
					<img class="item7" src="/home/reggi/Downloads/items/Greater Lens (Trinket).png" />
				</div>
				<div class="player_kda">
					19/0/10	
				</div>
				<div class="player_cs">
					314
				</div>
			</div>


			<div id="player8" class="player_strip">
				<img class="player_champ_icon" src="/home/reggi/Downloads/champions/Lux.png" />
				<div class="player_level">
					10	
				</div>	
				<div class="player_names">
					<p class="username">
						regonics
					</p>
					<p class="champion">
						Lux
					</p>
				</div>
				<div class="player_summoners">
					<img class="summoner1" src="/home/reggi/Downloads/summoners/Revive.png" />
					<img class="summoner2" src="/home/reggi/Downloads/summoners/Revive.png" />
				</div>
				<div class="player_items">
					<img class="item1" src="/home/reggi/Downloads/items/Rabadon's Deathcap.png" />
					<img class="item2" src="/home/reggi/Downloads/items/Sorcerer's Shoes.png" />
					<img class="item3" src="blank_item.png" />
					<img class="item4" src="/home/reggi/Downloads/items/Athene's Unholy Grail.png" />
					<img class="item5" src="/home/reggi/Downloads/items/Sightstone.png" />
					<img class="item6" src="/home/reggi/Downloads/items/Zhonya's Hourglass.png" />
					<img class="item7" src="/home/reggi/Downloads/items/Greater Lens (Trinket).png" />
				</div>
				<div class="player_kda">
					19/0/10	
				</div>
				<div class="player_cs">
					314
				</div>
			</div>


			<div id="player9" class="player_strip">
				<img class="player_champ_icon" src="/home/reggi/Downloads/champions/Lux.png" />
				<div class="player_level">
					10	
				</div>	
				<div class="player_names">
					<p class="username">
						regonics
					</p>
					<p class="champion">
						Lux
					</p>
				</div>
				<div class="player_summoners">
					<img class="summoner1" src="/home/reggi/Downloads/summoners/Revive.png" />
					<img class="summoner2" src="/home/reggi/Downloads/summoners/Revive.png" />
				</div>
				<div class="player_items">
					<img class="item1" src="/home/reggi/Downloads/items/Rabadon's Deathcap.png" />
					<img class="item2" src="/home/reggi/Downloads/items/Sorcerer's Shoes.png" />
					<img class="item3" src="blank_item.png" />
					<img class="item4" src="/home/reggi/Downloads/items/Athene's Unholy Grail.png" />
					<img class="item5" src="/home/reggi/Downloads/items/Sightstone.png" />
					<img class="item6" src="/home/reggi/Downloads/items/Zhonya's Hourglass.png" />
					<img class="item7" src="/home/reggi/Downloads/items/Greater Lens (Trinket).png" />
				</div>
				<div class="player_kda">
					19/0/10	
				</div>
				<div class="player_cs">
					314
				</div>
			</div>


			<div id="player10" class="player_strip">
				<img class="player_champ_icon" src="/home/reggi/Downloads/champions/Lux.png" />
				<div class="player_level">
					10	
				</div>	
				<div class="player_names">
					<p class="username">
						regonics
					</p>
					<p class="champion">
						Lux
					</p>
				</div>
				<div class="player_summoners">
					<img class="summoner1" src="/home/reggi/Downloads/summoners/Revive.png" />
					<img class="summoner2" src="/home/reggi/Downloads/summoners/Revive.png" />
				</div>
				<div class="player_items">
					<img class="item1" src="/home/reggi/Downloads/items/Rabadon's Deathcap.png" />
					<img class="item2" src="/home/reggi/Downloads/items/Sorcerer's Shoes.png" />
					<img class="item3" src="blank_item.png" />
					<img class="item4" src="/home/reggi/Downloads/items/Athene's Unholy Grail.png" />
					<img class="item5" src="/home/reggi/Downloads/items/Sightstone.png" />
					<img class="item6" src="/home/reggi/Downloads/items/Zhonya's Hourglass.png" />
					<img class="item7" src="/home/reggi/Downloads/items/Greater Lens (Trinket).png" />
				</div>
				<div class="player_kda">
					19/0/10	
				</div>
				<div class="player_cs">
					314
				</div>
			</div>
		</div>
--!>

		<script src="scoreboard.js"></script>
	</body>
</html>
